html,
body {
    background:transparent;
    margin:0;
    padding:0;
}

.label {
    display: flex;
    justify-content: center;
}

button {
    font-size: 12px;
    cursor:pointer;
}

.location-label {
    background: yellow;
    color: #000000;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: arial;
    height: 24px;
}

.material-symbols-outlined {
    font-size: 32px;
}

.stop-btn {
    position: absolute;
    right: 4px;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    background: transparent;
    padding: 4px;
}