<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=dangerous" />
    <link rel="stylesheet" href="/static/button.css">
  </head>
  <body>
    <div class="label">
      <span class="location-label" id="location"></span>
      <button class="stop-btn" onclick="stopCamera({{camera_id}})">Stop</button>
    </div>
    <script src="/static/utils.js"></script>
    <script src="/static/button.js"></script>
  </body>
</html>